@import "variables";
/* slabo-13px-regular - latin */
@font-face {
  font-family: "Slabo 13px";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/wp-content/themes/alex/fonts/slabo-13px-v8-latin-regular.svg#Slabo13px")
      format("svg"); /* Legacy iOS */
}

p {
  font-size: 13pt;
}

h1 {
  color: $primary-color;
  font-size: 33pt;
}

main {
  h2 {
    margin-bottom: 20px;
    margin-top: 3em;
  }
}

h2 {
  color: black;
  font-size: 20pt;
}

h3 {
  color: $primary-color;
  font-size: 13pt;
}

h4 {
  color: $primary-color;
  font-size: 12pt;
}
