@import "reset";
@import "base";
@import "variables";
@import "font-styles";
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "nav";

#hero {
  background-image: url("./images/illuminated-keyboard-1242287.jpg");
  height: 500px;
  background-size: cover;
  padding: 20px;
  display: flex;
  justify-content: flex-end;

  .title-container {
    width: 60%;
    align-self: center;
    padding-right: 50px;
  }
  h1 {
    padding-right: 20%;
    span {
      display: inline;
      padding: 0px 10px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      background-color: white;
      line-height: 60px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: #45b348;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-size: 18pt;
    font-family: "Slabo 13px";
  }
}

#Services {
  h2 {
    margin-top: 1em;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 5px;
      min-width: 200px;
      min-height: 200px;
      &:first-child {
        background-color: #fffad8;
      }
      &:nth-child(2) {
        background-color: #c6effc;
      }
      &:last-child {
        background-color: #e2edd8;
      }
      a {
        justify-content: center;
      }
      img {
        max-width: 170px;
      }

      h3 {
        text-align: center;
        padding-bottom: 10px;
        color: black;
      }
    }
    #design {
      background-color: $theme-yellow;
    }
    #strategy {
      background-color: $theme-blue;
    }
    #consulting {
      background-color: $theme-green;
    }
  }
}

#News {
  ul {
    background-color: $theme-orange;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      margin-left: 10px;
      a {
        color: $primary-color;
        line-height: 2;
        &:hover {
          border-bottom: 2px solid $primary-color;
        }
      }
      p {
        display: inline;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 117px 100px;
  margin-bottom: 2em;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
  }

  .caption {
    box-sizing: border-box;
    padding: 10px;
  }

  blockquote {
    box-sizing: border-box;
    padding: 10px;
    font-size: 22px;
    line-height: 1.2;
  }

  #tina {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: $theme-yellow;
    grid-template-areas:
      "tina-img . ."
      "tina-caption tina-caption ."
      "tina-quote tina-quote tina-quote";

    img {
      grid-area: tina-img;
    }

    .caption {
      grid-area: tina-caption;
      z-index: 1;
      background-color: $theme-yellow;
    }

    blockquote {
      grid-area: tina-quote;
      z-index: 1;
      background-color: $theme-yellow;
    }
  }

  #tom {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 1 / 5;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: $theme-blue;
    grid-template-areas:
      ". tom-caption tom-img"
      ". tom-quote tom-quote"
      ". . .";

    img {
      grid-area: tom-img;
    }

    .caption {
      grid-area: tom-caption;
      justify-self: end;
      text-align: right;
    }

    blockquote {
      align-self: center;
      justify-self: end;
      text-align: right;
      grid-area: tom-quote;
    }
  }

  #quote {
    display: grid;
    grid-column: 5 / 6;
    grid-row: 1 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: $primary-color;
    z-index: 1;
    grid-template-areas:
      "quote-img"
      ".";

    img {
      grid-area: quote-img;
      height: auto;
      padding: 0;
    }
  }

  #director {
    display: grid;
    grid-column: 5 / 9;
    grid-row: 1 / 5;
    grid-template-rows: 1fr 1fr 117px 100px;
    grid-template-columns: repeat(4, 1fr);
    background-color: $theme-green;
    grid-template-areas:
      ". director-img director-img director-img"
      ". director-img director-img director-img"
      "director-caption director-caption director-caption director-caption"
      "director-quote director-quote director-quote director-quote";
    justify-self: end;
    text-align: right;

    img {
      padding-bottom: 0px;
      grid-area: director-img;
    }

    .caption {
      grid-area: director-caption;
    }

    blockquote {
      grid-area: director-quote;
    }
  }
}

footer {
  background-color: $primary-color;
  color: white;

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  p {
    line-height: 1.3;
    margin-bottom: 20px;
    &:nth-child(2) {
      margin-right: 50%;
    }
  }

  h3 {
    color: white;
  }

  ul {
    list-style: initial;
    margin-left: 30px;
    font-size: 0.8em;
    line-height: 1.2;
    li {
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }

  nav {
    align-items: baseline;
    justify-content: flex-end;
    p {
      width: 50%;
    }
    .menu-footer-menu-container {
      width: 50%;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      list-style: none;
      font-size: 1em;
      line-height: 1;
    }
  }
}

@include MobileDevices {
  .max-width-container {
    margin: 0 15px;
  }

  #hero {
    height: 300px;
    .title-container {
      width: 100%;
      padding-right: 0;
      h1 {
        padding-right: 0;
      }
    }
  }

  #Services {
    #design {
      width: 100%;
    }

    #strategy {
      width: 100%;
    }

    #consulting {
      width: 100%;
    }
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);

    img {
      height: 400px;
      object-fit: cover;
      padding: 20px;
    }

    .caption {
      padding: 0 20px;
    }

    blockquote {
      padding: 10px 20px 20px 20px;
    }

    #tina {
      grid-column: 1;
      grid-row: 1 / 4;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
      grid-template-areas:
        "tina-img"
        "tina-caption"
        "tina-quote";
    }

    #tom {
      grid-column: 1;
      grid-row: 4 / 7;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
      grid-template-areas:
        "tom-img"
        "tom-caption"
        "tom-quote";

      .caption {
        justify-self: start;
        text-align: left;
      }

      blockquote {
        justify-self: start;
        text-align: left;
      }
    }

    #director {
      grid-column: 1;
      grid-row: 7 / 10;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
      grid-template-areas:
        "director-img"
        "director-caption"
        "director-quote";

      img {
        padding-bottom: 20px;
      }

      .caption {
        justify-self: start;
        text-align: left;
      }

      blockquote {
        justify-self: start;
        text-align: left;
      }
    }

    #quote {
      grid-column: 1;
      grid-row: 10 / 11;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "quote-img .";
      img {
        width: 50vw;
        height: 100%;
        padding: 0;
      }
    }
  }
  footer {
    nav {
      flex-wrap: wrap;
      p {
        width: 100%;
        margin-bottom: 5px;
      }
      ul {
        margin-left: 0;
      }
    }
  }
}
